<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Robo Resume-Form </title>
</head>
<body>
    <h1>Robo Resume form</h1>
    <h8>Please enter your name, email, place of employment with start and end dates,
        then click Submit. (Please enter today's date if you are currently employed).</h8>
    <form action="#" th:action="@{addname}" th:object="${name}" method="post" >
        <p>Name: <input type="text" th:field="*{name}" /></p>
        <p>Email: <input type="text" th:field="*{email}" /></p>
        <p>Organization: <input type="text" th:field="*{organization}" /></p>
        <p>Start Date: <input type="text" th:field="*{startdate}" /></p>
        <p>End Date: <input type="text" th:field="*{enddate}" /></p>


        <input type="submit" value="Submit" /> <input type="reset" value="Reset" />
    </form>

</body>
</html>