<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
        <meta charset="UTF-8"/>
        <title>Robo Resume Employment Submission</title>
</head>
<body>
<h1>Robo Resume Submitted</h1>
<h8>Your resume was received! Here is what was submitted:</h8>


<form action="#" th:action="@{addname}" th:object="${name}" method="post" >
    <p>Name: <p th:text="${newEmployee.name}" /></p>
    <p>Email: <p th:text="${newEmployee.email}" /></p>
    <p>Organization: <p th:text="${newEmployee.organization}" /></p>
    <p>Start Date: <p th:text="${newEmployee.startdate}" /></p>
    <p>End Date: <p th:text="${newEmployee.enddate}" /></p>
    <p> Number of days worked: <p th:text="${newEmployee.daysEmployed}"/> </p>


    <input type="submit" value="Exit Resume" /> <input type="submit" value="Add another resume" />
</body>
</html>